rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /entries/{entryId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /expenses/{expenseId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /raceWork/{raceWorkId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /settings/{settingsId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
